*{
  margin:0;
}
body{
  background-color:lightgray;
}
.App {
  text-align: center;
}

.Maindiv{
    /* width:900px; */
    /* height: 600px; */
    /* border: 5px solid black; */
    /* margin: auto; */
}

.heading{
  text-align: center;
  font-family: cursive;
}
.our{
  color: dodgerblue;
}
.store{
  color: orangered;
}
.but{
  border-color:orangered;
}
.btn {
  background-color: white;
  color: black;
  padding:10px 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  font-family: cursive;
}
.search{
  border: 2px solid orangered;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  font-family: cursive;
  width:35%;
}
.items{
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}
.item{
  margin:5px;
  background-color: white;
}
.image{
  width:200px;
  height:200px;
  background-color: white;
}
.image img{
  width: 100%;
  height:200px;
}
.d-flex{
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color:white;
}
.item:hover{
  box-shadow:1px 5px 5px gray;
  cursor:pointer;
}
@media screen and (max-width:480px){
  .search{
    width:85%;
  }
  .image{
    width:100%;
  }
  .item{
    width:90%;
  }
}